# Données sensibles
/data/*.json
/data/*.css
/data/*.js

# Garder la structure du dossier
!/data/.htaccess

# Assets/contenus uploadés (images)
/assets/images/**
!/assets/images/.htaccess
!/assets/images/thumbs/
/assets/images/thumbs/**
!/assets/images/thumbs/.htaccess

# Assets/contenus uploadés (documents)
/assets/docs/**
!/assets/docs/.htaccess

# Fichiers système
.DS_Store
Thumbs.db
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

