# Autoriser l'accès aux documents PDF
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

# Empêcher l'exécution de scripts dans le dossier documents
<FilesMatch "\.(php|phtml|phar|cgi|pl|py|sh)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
